<ion-content>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Selecione o tipo de cálculo:</ion-label>
      <ion-select interface="popover" [(ngModel)]="selectedType" (ionChange)="onSelectType($event)">
        <ion-select-option *ngFor="let type of calculationTypes" [value]="type.id">
          {{ type.displayName }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>
</ion-content>

<!-- Loading indicator -->
<ion-spinner name="circles" *ngIf="isLoading"></ion-spinner>