<ion-header>
  <ion-toolbar>
    <ion-title>LCT Calculator</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="home-container">
  <div class="content-wrapper d-flex flex-grow-1 position-relative">
  
    <!-- Conteúdo principal -->
    <div id="main-content"
      class="main-content-container flex-grow-1 d-flex align-items-center justify-content-center p-3">
      <ion-router-outlet></ion-router-outlet> <!-- Conteúdo principal das rotas -->
    </div>
  </div>
</ion-content>

<ion-footer>
  <app-footer></app-footer> <!-- Componente de rodapé substituído pelo menu, se necessário -->
</ion-footer>