<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title class="header-title">
      <app-header></app-header> <!-- Chamando o header como componente -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-container">
  <div class="content-wrapper d-flex flex-grow-1 position-relative">
    <!-- Conteúdo principal das rotas -->
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-content>

<!-- Footer sempre presente -->
<ion-footer  class="footer">
  <app-footer></app-footer>
</ion-footer>