.home-container {
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
}

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  /* altura do header */
 
  z-index: 1;
  /* para garantir que o header fique sobre o conteúdo */
}

.content-wrapper {
  margin-top: 60px;
  /* Use a altura exata do header */
  margin-bottom: 60px;
  /* Use a altura exata do footer */
  height: calc(100vh - 120px);
  /* Altura total menos o header e o footer */
  overflow-y: auto;
  background-color: #ffffff;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  /* altura do footer */
  background-color: #f8f8f8;
  z-index: 1;
}